/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:wght@300&display=swap");
/* Selector Universal - Reset */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Generales */
body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

header, footer, header nav {
  background-color: #ffeee9;
  color: #79673f;
}

/* Titulos */
.titulos-container {
  margin-top: 8em;
}

.titulos {
  background-color: #dfcabb;
  text-align: center;
  font-size: 3em;
  color: #79673f;
  padding: 40px;
  overflow: hidden;
}

/* Whatsapp */
.whatsapp {
  position: fixed;
  text-align: right;
  bottom: 25px;
  right: 25px;
}

.whatsapp-img {
  width: 10%;
}

/* Header */
.header-logo-img {
  width: 50%;
  margin-left: 20px;
}

.nav-link {
  color: #79673f;
  font-weight: bold;
}

.navbar-transformacion {
  transition: all 1.5s;
}
.navbar-transformacion:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

/* Index - Section 2 */
.inicio-img {
  width: 100%;
  height: 45em;
  margin-bottom: 2em;
}

/*GRID*/
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15%;
  margin: 15px;
}
@media screen and (max-width: 480px) {
  .parent {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 2fr;
  }
}

.div1 {
  grid-area: 1/1/2/2;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div1 {
    grid-area: 1/1/2/2;
  }
}

.div2 {
  grid-area: 1/2/2/3;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div2 {
    grid-area: 1/2/2/3;
  }
}

.div3 {
  grid-area: 1/3/2/4;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div3 {
    grid-area: 2/1/3/2;
  }
}

.parents-img {
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  border: #79673f 1px solid;
}
.parents-img:hover {
  opacity: 0.9;
}

.parents-texto {
  text-align: center;
  font-size: 25px;
  border: #79673f 1px solid;
  color: #79673f;
}

.index-mapa {
  margin-top: 2em;
  height: 12em;
}
@media screen and (max-width: 480px) {
  .index-mapa {
    margin-top: 2em;
    margin-bottom: 4em;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .index-mapa {
    margin-top: 11em;
  }
}

.index-texto-mapa {
  color: #79673f;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

/* Quienes Somos - section */
.quienes-texto {
  font-size: 1.25em;
  color: #79673f;
  font-weight: bold;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .quienes-texto {
    font-size: 1em;
    height: auto;
    margin-top: 0.5em;
  }
}

/* Contacto - Section */
.contactos-title {
  color: #79673f;
  font-weight: bold;
}

.btn-color {
  color: white;
  background-color: #79673f;
}

/* Servicios - section */
.servicios-titulos {
  font-size: 2.5em;
  color: #79673f;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
@media screen and (max-width: 480px) {
  .servicios-titulos {
    font-size: 2em;
    height: auto;
  }
}

.servicios-texto {
  font-size: 1.25em;
  color: #79673f;
  font-weight: bold;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .servicios-texto {
    font-size: 1em;
    height: auto;
  }
}

/* Footer */
.footer-titulo {
  border-bottom: solid thin #bababa;
}

.footer-icono:hover {
  transform: scale(1.3);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copy {
  background-color: #ffe0d7;
}

/* Productos - section */
.productos-img {
  opacity: 1;
}
.productos-img:hover {
  opacity: 0.9;
}

.productos-title {
  color: #79673f;
  font-weight: bold;
  font-size: 1.5em;
}
.productos-title:hover {
  text-decoration: underline;
}

.productos-btn {
  color: white;
  background-color: #79673f;
  margin-bottom: 0.8em;
}

/*# sourceMappingURL=style.css.map */
