/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
/* Selector Universal - Reset */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Generales */
body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

header, footer, header nav {
  background-color: #ffeee9;
  color: #79673f;
}

/* Titulos */
.titulos-container {
  margin-top: 8em;
}

.titulos {
  background-color: #dfcabb;
  text-align: center;
  font-size: 3em;
  color: #79673f;
  padding: 40px;
  overflow: hidden;
}

/* Whatsapp */
.whatsapp {
  position: fixed;
  text-align: right;
  bottom: 25px;
  right: 25px;
}

.whatsapp-img {
  width: 10%;
}

/* Header */
.header-logo-img {
  width: 50%;
  margin-left: 20px;
}

.nav-link {
  color: #79673f;
  font-weight: bold;
}

.navbar-transformacion {
  transition: all 1.5s;
}
.navbar-transformacion:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

/* Index - Section 2 */
.inicio-img {
  width: 100%;
  height: 45em;
  margin-bottom: 2em;
}

/*GRID*/
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15%;
  margin: 15px;
}
@media screen and (max-width: 480px) {
  .parent {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 2fr;
  }
}

.div1 {
  grid-area: 1/1/2/2;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div1 {
    grid-area: 1/1/2/2;
  }
}

.div2 {
  grid-area: 1/2/2/3;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div2 {
    grid-area: 1/2/2/3;
  }
}

.div3 {
  grid-area: 1/3/2/4;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .div3 {
    grid-area: 2/1/3/2;
  }
}

.parents-img {
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  border: #79673f 1px solid;
}

.parents-texto {
  text-align: center;
  font-size: 25px;
  border: #79673f 1px solid;
  color: #79673f;
}

/* Quienes Somos - section */
.quienes-texto {
  margin-left: 25px;
  color: #79673f;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .quienes-texto {
    height: auto;
    /*80%*/
    overflow: scroll;
    width: 100%;
    max-height: 100%;
  }
}

/* Contacto - Section */
.btn-color {
  color: white;
  background-color: #79673f;
}

/* Footer */
.footer-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-top: 10px;
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .footer-contenedor {
    margin-top: 200px;
  }
}

.footer-iconos {
  margin: 15px 15px;
  list-style-type: none;
  /* display: flex;
  justify-content: space-around; */
  display: inline-block;
}

.footer-iconos-img {
  width: 10%;
  display: inline;
  margin: auto 20px;
  transition: all 1.5s;
}
.footer-iconos-img:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
