/* Footer */

.footer-titulo {
    border-bottom: solid thin #bababa;
}

.footer-icono {
    &:hover {
        transform: scale(1.3);
    }
}

.footer-link {
    &:hover {
        text-decoration: underline;
    }
}

.footer-copy {
    background-color: darken(#ffeee9, 3.5%);
}